<style>
    #matrix {background-color:black;}
    #matrix .matrix_row {width: 10px!important; height:100%; color: #00CC00; float:left!important; line-height: 0.9em!important; font-weight:bold!important; font-size: 14px !important; clear:none!important}
    #matrix .down {font-family:Verdana; text-align:center; position:fixed; top: 30%; left: 40%; color: #00CC00; font-size: 50px; font-weight: bold}
    #matrix .signature {font-size: 15px;}
</style>